In [1]:
# importing libraries
import pandas as pd
import os
import xlrd
import re
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer 
from wordcloud import WordCloud, STOPWORDS
import numpy as np
import nltk
nltk.download('averaged_perceptron_tagger')
from nltk.stem import WordNetLemmatizer
from pywsd.utils import lemmatize_sentence
from sklearn.preprocessing import normalize
import scipy.cluster.hierarchy as shc
from sklearn.cluster import AgglomerativeClustering

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/raghavagovil/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
Warming up PyWSD (takes ~10 secs)... took 6.816554069519043 secs.

In [2]:
# reading in the data 
pd.set_option('display.max_columns', 500)
nikhil = pd.read_csv('nikhil_only_english.csv')
raghava = pd.read_csv('raghava_only_english.csv')
kevin = pd.read_csv('kevin_only_english.csv')
tweets = pd.concat([raghava, nikhil, kevin], ignore_index = True)
tweets = tweets[['text', 'created_at']]
tweets.head()

,text,created_at
0,With the number of confirmed cases of coronavi...,Tue Mar 10 00:00:05 +0000 2020
1,#COVID-19 is Q84263196 in #WIkidata. The ite...,Tue Mar 10 00:00:10 +0000 2020
2,Another fearless leader has everything under c...,Tue Mar 10 00:00:07 +0000 2020
3,Gutter crime? |#gutters #guttercleaning #gutte...,Tue Mar 10 00:00:02 +0000 2020
4,How To Boost Your Emergency Supply Of Prescrip...,Tue Mar 10 00:00:02 +0000 2020

In [3]:
analyser = SentimentIntensityAnalyzer()

def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence) 
    return score

In [4]:
scores = []

for i in range(tweets.shape[0]): 
    scores.append(sentiment_analyzer_scores(str(tweets.iloc[i,])))

In [5]:
scores[0:10]

[{'neg': 0.0, 'neu': 0.936, 'pos': 0.064, 'compound': 0.0772},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.861, 'pos': 0.139, 'compound': 0.4404},
 {'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'compound': -0.5423},
 {'neg': 0.112, 'neu': 0.773, 'pos': 0.116, 'compound': 0.0258},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.204, 'neu': 0.796, 'pos': 0.0, 'compound': -0.7073},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.142, 'neu': 0.756, 'pos': 0.102, 'compound': -0.2263}]

In [6]:
# converting list to df
scores_df = pd.DataFrame(scores)

In [7]:
# final tweets df with sentiment scores
tweets = pd.concat([tweets.reset_index(drop=True), scores_df], axis=1)
tweets.head()

,text,created_at,neg,neu,pos,compound
0,With the number of confirmed cases of coronavi...,Tue Mar 10 00:00:05 +0000 2020,0.000,0.936,0.064,0.0772
1,#COVID-19 is Q84263196 in #WIkidata. The ite...,Tue Mar 10 00:00:10 +0000 2020,0.000,1.000,0.000,0.0000
2,Another fearless leader has everything under c...,Tue Mar 10 00:00:07 +0000 2020,0.000,0.861,0.139,0.4404
3,Gutter crime? |#gutters #guttercleaning #gutte...,Tue Mar 10 00:00:02 +0000 2020,0.179,0.821,0.000,-0.5423
4,How To Boost Your Emergency Supply Of Prescrip...,Tue Mar 10 00:00:02 +0000 2020,0.112,0.773,0.116,0.0258

In [9]:
tweets.shape

(4146373, 6)

In [11]:
tweets.to_csv('tweets.csv')